  backupStorageConfig:
    awsBucketName: {{ mig_noobaa_bucket }}
    awsRegion: {{ mig_noobaa_region }}
    awsS3ForcePathStyle: "true"
    awsS3Url: {{ mig_noobaa_s3_url }}

    credsSecretRef:
      namespace: {{ mig_namespace }}
      name: {{ mig_storage_creds_name }}

    #awsKmsKeyId: foo
    #awsPublicUrl: foo
    #awsSignatureVersion: "4"
