---
apiVersion: v1
kind: Pod
metadata:
  namespace: {{ mig_ui_namespace }}
  name: {{ mig_ui_pod_name }}
  labels:
    app: {{ mig_ui_app_name }}
spec:
  containers:
  - name: {{ mig_ui_container_name }}
    image: {{ mig_ui_image }}
    imagePullPolicy: Always
    ports:
      - containerPort: {{ mig_ui_container_port }}