apiVersion: migration.openshift.io/v1alpha1
kind: MigStorage
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ mig_storage_name }}
  namespace: {{ mig_namespace }}
spec:
  backupStorageProvider: {{ mig_backup_storage_provider if mig_backup_storage_provider != "noobaa" else "aws" }}
  volumeSnapshotProvider: {{ mig_volume_snapshot_provider }}

{% include '' + mig_backup_storage_provider + '/backup-storage-config.j2' %}

  volumeSnapshotConfig:
    awsRegion: {{ mig_aws_region }}
    credsSecretRef:
      namespace: {{ mig_namespace }}
      name: {{ mig_storage_creds_name }}

